scikit-learn==0.23.2
joblib==1.2.0
PyAudio==0.2.13
numpy==1.19.2
scipy==1.5.2
opencv_python==4.8.1.78
yeelight==0.5.3
pyAudioAnalysis==0.3.6
plotly==5.17.0
matplotlib==3.5.0
eyed3==0.9.7
pydub==0.25.1
pyparsing==3.1.1
tqdm==4.66.1
setuptools==68.2.2
python-osc==1.8.3
imageio
